<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Showing Device Details</h2>
          <%= link_to 'Back', admin_device_details_path ,class: "btn btn-primary" ,style: "margin-bottom:15px;"%></b>
      </div>
      
      <!-- Device Details Table -->
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Device Name</th>
            <th>Device Id</th>
            <th>Security Token</th>
            <th>Advertising Id</th>
            <th>Utm Term</th>
            <th>Utm Content</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @deviceDetail.id %></td>
            <td><%= @deviceDetail.deviceName %></td>
            <td><%= @deviceDetail.deviceId %></td>
            <td><%= @deviceDetail.security_token %></td>
            <td><%= @deviceDetail.advertisingId %></td>
            <td><%= @deviceDetail.utmTerm %></td>
            <td><%= @deviceDetail.utmContent %></td>
          </tr>
        </tbody>
      </table>

      <!-- Additional Device Information Table -->
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>Device Type</th>
            <th>Version Name</th>
            <th>Version Code</th>
            <th>Utm Source</th>
            <th>Utm Medium</th>
            <th>Referrer Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @deviceDetail.deviceType %></td>
            <td><%= @deviceDetail.versionName %></td>
            <td><%= @deviceDetail.versionCode %></td>
            <td><%= @deviceDetail.utmSource %></td>
            <td><%= @deviceDetail.utmMedium %></td>
            <td><%= @deviceDetail.referrerUrl %></td>
          </tr>
        </tbody>
      </table>
      
      <!-- QR Codes Table -->
      <h3>QR Codes</h3>
      <% if @qrCodes.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Subtitle</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <% @qrCodes.each do |qr| %>
              <tr>
                <td><%= qr.id %></td>
                <td><%= qr.title %></td>
                <td><%= qr.subtitle.truncate(50) %></td>
                <td><%= qr.created_at %></td>
                <td><%= qr.updated_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @qrCodes %>
      <% else %>
        <p>No QR Codes found.</p>
      <% end %>
      
      <!-- Favourites Table -->
      <h3>Favourites</h3>
      <% if @favourites.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>QR Code Id</th>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <% @favourites.each do |fav| %>
              <tr>
                <td><%= fav.qr_code_id %></td>
                <td><%= fav.versionName %></td>
                <td><%= fav.versionCode %></td>
                <td><%= fav.created_at %></td>
                <td><%= fav.updated_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @favourites %>
      <% else %>
        <p>No Favourites found.</p>
      <% end %>
    </div>
  </div>
</div>
