<%= stylesheet_link_tag "adminIndex" %>
<h1>Device Details</h1>
<div class="wrapper">
  <% if @deviceDetail %>
    <div class="table">
      <div class="row header">
        <div class="cell">Id</div>
        <div class="cell">Device Name</div>
        <div class="cell">Device Id</div>
        <div class="cell">Security Token</div>
        <div class="cell">Advertising Id</div>
        <div class="cell">Utm Term</div>
        <div class="cell">Utm Content</div>
      </div>
      <div class="cell" data-title="id"><%= @deviceDetail.id %></div>
      <div class="cell" data-title="deviceName"><%= @deviceDetail.deviceName %></div>
      <div class="cell" data-title="deviceId"><%= @deviceDetail.deviceId %></div>
      <div class="cell" data-title="securityToken"><%= @deviceDetail.security_token %></div>
      <div class="cell" data-title="advertisingId"><%= @deviceDetail.advertisingId %></div>
      <div class="cell" data-title="utmTerm"><%= @deviceDetail.utmTerm %></div>
      <div class="cell" data-title="utmContent"><%= @deviceDetail.utmContent %></div>
    </div>

    <div class="table">
      <div class="row header">
        <div class="cell">Device Type</div>
        <div class="cell">Version Name</div>
        <div class="cell">Version Code</div>
        <div class="cell">Utm Source</div>
        <div class="cell">Utm Medium</div>
        <div class="cell">Referrer Url</div>
      </div>
      <div class="cell" data-title="deviceType"><%= @deviceDetail.deviceType %></div>
      <div class="cell" data-title="versionName"><%= @deviceDetail.versionName %></div>
      <div class="cell" data-title="versionCode"><%= @deviceDetail.versionCode %></div>
      <div class="cell" data-title="utmSource"><%= @deviceDetail.utmSource %></div>
      <div class="cell" data-title="utmMedium"><%= @deviceDetail.utmMedium %></div>
      <div class="cell" data-title="referrerUrl"><%= @deviceDetail.referrerUrl %></div>
    </div>

    <h3>Qr Codes</h3>
    <% if @qrCodes %>
      <div class="table">
        <div class="row header">
          <div class="cell">Id</div>
          <div class="cell">Title</div>
          <div class="cell">Subtitle</div>
          <div class="cell">Created At</div>
          <div class="cell">Updated At</div>
        </div>
        <% @qrCodes.each do |qr| %>
          <a href="/admin/recently_addeds/<%= qr.id %>" class="row">
            <div class="cell" data-title="id"><%= qr.id %></div>
            <div class="cell" data-title="deviceName"><%= qr.title %></div>
            <div class="cell" data-title="deviceId"><%= qr.subtitle[0,50] + "..." %></div>
            <div class="cell" data-title="securityToken"><%= qr.created_at %></div>
            <div class="cell" data-title="advertisingId"><%= qr.updated_at %></div>
          </a>
        <% end %>
      </div>
    <% end %>

    <h3>Favourites</h3>
    <% if @favourites %>
      <div class="table">
        <div class="row header">
          <div class="cell">Id</div>
          <div class="cell">Version Name</div>
          <div class="cell">Version Code</div>
          <div class="cell">Created At</div>
          <div class="cell">Updated At</div>
        </div>
        <% @favourites.each do |fav| %>
          <a href="/admin/favourites/<%= fav.id %>" class="row">
            <div class="cell" data-title="id"><%= fav.qr_code_id %></div>
            <div class="cell" data-title="deviceName"><%= fav.versionName %></div>
            <div class="cell" data-title="deviceId"><%= fav.versionCode %></div>
            <div class="cell" data-title="securityToken"><%= fav.created_at %></div>
            <div class="cell" data-title="advertisingId"><%= fav.updated_at %></div>
          </a>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1 class="not-found">No Device Found</h1>
  <% end %>
</div>
