<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Listing User Details</h2>
      </div>

      <!-- User Details Table -->
      <% if @userDetails.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>User Name</th>
              <th>User Email</th>
              <th>Security Token</th>
              <th>Wallet Balance</th>
              <th>Action</th> <!-- Added Action column header -->
            </tr>
          </thead>
          <tbody>
            <% @userDetails.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.socialName %></td>
                <td><%= user.socialEmail %></td>
                <td><%= user.securityToken %></td>
                <td><%= user.wallet_balance %></td>
                <td>
                  <%= link_to 'Show', admin_user_detail_path(user), class: 'btn btn-primary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @userDetails %>
      <% else %>
        <h1 class="not-found">No User Found</h1>
      <% end %>
    </div>
  </div>
</div>
