<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color: orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Generated QR</h2>
      </div>
      
      <!-- Generated QR Details Table -->
      <% if @generatedQr %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Device Id</th>
              <th>Code Data</th>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @generatedQr.id %></td>
              <td><a href="/admin/device_details/<%= @generatedQr.device_detail_id %>">Device Detail <%= @generatedQr.device_detail_id %></a></td>
              <td><%= @generatedQr.codeData %></td>
              <td><%= @generatedQr.versionName %></td>
              <td><%= @generatedQr.versionCode %></td>
              <td><%= @generatedQr.created_at %></td>
              <td><%= @generatedQr.updated_at %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <div class="col-lg-12">
          <h1 class="not-found">No Generated QR Found</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
