<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">App Opens</h2>
      </div>
      <% if @appOpens.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Device Id</th>
              <th>Security Token</th>
              <th>Social Name</th>
              <th>Social Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @appOpens.each do |app| %>
              <tr>
                <td><%= app.id %></td>
                <td><%= app.deviceId %></td>
                <td><%= app.securityToken %></td>
                <td><%= app.socialName %></td>
                <td><%= app.socialEmail %></td>
                <td>
                  <%= link_to 'Show', admin_app_open_path(app), class: 'btn btn-primary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">No App Opens Found</h1>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
