<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">App Open Details</h2>
        <%= link_to 'Back', admin_app_opens_path, class: "btn btn-primary", style: "margin-bottom: 15px;" %></b>
      </div>
      
      <!-- App Open Details Table -->
      <% if @appOpen %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Device Id</th>
              <th>Security Token</th>
              <th>Social Name</th>
              <th>Social Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @appOpen.id %></td>
              <td><%= @appOpen.deviceId %></td>
              <td><%= @appOpen.securityToken %></td>
              <td><%= @appOpen.socialName %></td>
              <td><%= @appOpen.socialEmail %></td>
            </tr>
          </tbody>
        </table>

        <!-- Additional App Open Information Table -->
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>Social ImgUrl</th>
              <th>App Url</th>
              <th>Force Update</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @appOpen.versionName %></td>
              <td><%= @appOpen.versionCode %></td>
              <td><a href="<%= @appOpen.socialImgUrl %>"><%= @appOpen.socialImgUrl %></a></td>
              <td><%= @appOpen.app_url %></td>
              <td><%= @appOpen.forceUpdate %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">No App Open Found</h1>
      <% end %>
    </div>
  </div>
</div>
