<div class="container d-flex justify-content-center align-items-center" style="height:100vh">
  <%= form_with(url: admin_login_path ,class: "form-horizontal w-50") do |form| %>
    <div>
      <div>
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>
        <h1 class="mb-5">Log In</h1>
        <div class="form-group p-2">
          <%= form.label :username, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :username, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :password, class: "control-label fs-5 fw-medium" %>
          <%= form.password_field :password_digest, class: "form-control" %>
        </div>
        <div class="col-sm-offset-2 col-sm-10 m-2">
          <%= form.submit "Log In",class: "btn btn-dark text-light w-75 fw-medium" %>
        </div>
      </div>
  <% end %>
  </div>
</div>