<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Recently Added</h2>
      </div>
      <% if @recentlyAdded.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Subtitle</th>
              <th>Device Id</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @recentlyAdded.each do |recent| %>
              <tr>
                <td><%= recent.id %></td>
                <td><%= recent.title %></td>
                <td><%= recent.subtitle.truncate(50) %></td>
                <td>Device Detail <%= recent.device_detail_id %></td>
                <td><%= recent.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
                <td><%= recent.updated_at.strftime("%d/%m/%y %I:%M %p") %></td>
                <td>
                  <%= link_to 'Show', admin_recently_added_path(recent) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @recentlyAdded %>
      <% else %>
        <h1 class="not-found">No Recently Added Found</h1>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
