<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color: orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Recently Added</h2>
      </div>
      
      <!-- Recently Added Details Table -->
      <% if @recentlyAdded %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Device Id</th>
              <th>Title</th>
              <th>Subtitle</th>
              <th>QR Type</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @recentlyAdded.id %></td>
              <td><a href="/admin/device_details/<%= @recentlyAdded.device_detail_id %>">Device Detail <%= @recentlyAdded.device_detail_id %></a></td>
              <td><%= @recentlyAdded.title %></td>
              <td><%= @recentlyAdded.subtitle %></td>
              <td><%= @recentlyAdded.qrType %></td>
              <td><%= @recentlyAdded.created_at %></td>
              <td><%= @recentlyAdded.updated_at %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <div class="col-lg-12">
          <h1 class="not-found">No Recently Added Found</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
