<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color: orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Showing Generated QR</h2>
      </div>
      
      <!-- Generated QR Details Table -->
      <% if @favourite %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>Qr Code</th>
              <th>Device Detail</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @favourite.id %></td>
              <td><%= @favourite.versionName %></td>
              <td><%= @favourite.versionCode %></td>
              <td><a href="/admin/recently_addeds/<%= @favourite.qr_code_id %>">Qr Code <%= @favourite.qr_code_id %></a></td>
              <td><a href="/admin/device_details/<%= @favourite.device_detail_id %>">Device Detail <%= @favourite.device_detail_id %></a></td>
              <td><%= @favourite.created_at %></td>
              <td><%= @favourite.updated_at %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <div class="col-lg-12">
          <h1 class="not-found">No Favourite Found</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
