<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color: orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Recently Added</h2>
      </div>
      
      <!-- Recently Added Details Table -->
      <% if @qrData %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Code Data</th>
              <th>Device Detail</th>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @qrData.id %></td>
              <td><%= @qrData.codeData %></td>
              <td><a href="/admin/device_details/<%= @qrData.device_detail_id %>">Device Detail <%= @qrData.device_detail_id %></a></td>
              <td><%= @qrData.versionName %></td>
              <td><%= @qrData.versionCode %></td>
              <td><%= @qrData.created_at %></td>
              <td><%= @qrData.updated_at %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <div class="col-lg-12">
          <h1 class="not-found">No QR Data Found</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
